.header{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 7px;
}

.btn{
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.logo{
    text-decoration: underline;
}